* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    /* border: 1px solid red; */
}
body {
    padding: 0 20%;
    background-image: url('../../img/bg.png');
}

header {
    display: flex;
    justify-content: space-around;
    background-color: white;
}
header div {
    border: 1px solid white(255, 255, 255);
    padding: 15px;
    
}
header div:hover {
    
    background-color: #662F32;
    color: white;
}
main {background-color: rgb(255, 255, 255); 

}

h1 {
    padding: 80px;
    text-align: center;
 
}
  
      

 span {
    color:#692E32 ;
 }
 h1,span {
    font-size:50px;
  
 }
 main h1 {
    align-items: baseline; 
 }

.salon { width: 100%;

}
.sect-art {
    padding: 20px;
    display: flex;  
    justify-content: space-around;
    align-items: stretch;
    
}

.art-article{
       
    width: 30%;
    margin: .5rem auto;
    border: 1px solid #3e3744;
    border-radius: 1px;
    background-color:#645955;
    border: solid red;
           
}
.sect-art h2{
    display: flex;
    justify-content: space-around;
    background-color: #662F32;
    padding: 20px;   
}


.salon2,.canape-2,.chambre1 {
    width:100%;
}

section {
    background-color: white;
    color: rgb(255, 255, 255);
}

/* .plus-img { 
    border: solid red;
} */
.div-btn{
    display: flex;
    justify-content: end;
    width: 100%;
   
    
}
h3 {
    font-weight: 100;
    color: black;
}
.fleche{

}
article .fleche {
color: black;
}
.fleche ul,li,h3 {
    padding-bottom:2rem;
    
   list-style-image: url(./img/arrow.png)
      }

h3, strong, p {
padding-bottom: 2rem;
padding: 20px;
}
